
<html>
<head>
	<title> Diabetes Predictor </title>
	<style>
		*{ font-size: 40px; }
		body{background-color: azure;}
	</style>
</head>
<body>
	<center>
		<h1>Diabetes Predictor</h1>
		<form>
			<input type="number" step="0.01" name="fs" placeholder="enter fasting sugar"/>
			<br><br>
			Frequent Urination
			<input type="radio" name="fu" value="yes"/> Yes
			<input type="radio" name="fu" value="no" checked=true/> No
			<br><br>
			<input type="submit" value="Predict Diabetes"/> 
		</form>
		{{msg}}
	</center>

</body>
</html>